In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot
import matplotlib
%matplotlib inline
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df = pd.read_csv("Downloads/Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.groupby("area_type")["area_type"].unique().agg("count")
df.groupby

<bound method DataFrame.groupby of                   area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK      NaN       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK      NaN       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK      NaN       3600   5.0      NaN  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK      NaN        550   1.0      1.0   17.00

[13320 rows x 9 columns]>

In [5]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
df2=df.drop(["society"], axis="columns")
df3=df2.dropna()

In [7]:
df3.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [8]:
df3.shape

(12710, 8)

In [9]:
df3["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 BHK', '1 RK',
       '4 BHK', '1 Bedroom', '2 Bedroom', '6 Bedroom', '8 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '11 Bedroom', '43 Bedroom',
       '14 BHK', '8 BHK', '12 Bedroom', '10 Bedroom', '13 BHK'],
      dtype=object)

In [10]:
df3["bhk"] = df3["size"].apply(lambda x : int(x.split(' ')[0]))

C:\Users\Hassa\AppData\Local\Temp\ipykernel_14220\1842908658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["bhk"] = df3["size"].apply(lambda x : int(x.split(' ')[0]))

In [11]:
df3.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00,2

In [12]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [13]:
df3[~df3["total_sqft"].apply(is_float)].head(50)

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,18-Mar,Hebbal,4 BHK,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,19-Mar,8th Phase JP Nagar,2 BHK,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,18-Dec,Sarjapur,2 BHK,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,Ready To Move,KR Puram,2 BHK,1015 - 1540,2.0,0.0,56.800,2
410,Super built-up Area,Ready To Move,Kengeri,1 BHK,34.46Sq. Meter,1.0,0.0,18.500,1
549,Super built-up Area,18-Sep,Hennur Road,2 BHK,1195 - 1440,2.0,0.0,63.770,2
661,Super built-up Area,Ready To Move,Yelahanka,2 BHK,1120 - 1145,2.0,0.0,48.130,2
672,Built-up Area,18-Mar,Bettahalsoor,4 Bedroom,3090 - 5002,4.0,0.0,445.000,4
772,Super built-up Area,20-Dec,Banashankari Stage VI,2 BHK,1160 - 1195,2.0,0.0,59.935,2
775,Built-up Area,Ready To Move,Basavanagara,1 BHK,1000Sq. Meter,2.0,1.0,93.000,1
850,Super built-up Area,22-Dec,Bannerghatta Road,2 BHK,1115 - 1130,2.0,0.0,58.935,2
886,Super built-up Area,18-Jun,Chandapura,1 BHK,520 - 645,1.0,0.0,15.135,1
927,Super built-up Area,18-Dec,Thanisandra,2 BHK,1000 - 1285,2.0,0.0,43.415,2
959,Super built-up Area,Ready To Move,Kammasandra,1 BHK,650 - 665,1.0,0.0,18.410,1
990,Super built-up Area,Ready To Move,Sarjapur,1 BHK,633 - 666,1.0,0.0,17.535,1
1019,Plot Area,18-Mar,Marathi Layout,1 Bedroom,5.31Acres,1.0,0.0,110.000,1
1086,Plot Area,19-Mar,Narasapura,2 Bedroom,30Acres,2.0,2.0,29.500,2
1178,Super built-up Area,20-Dec,Yelahanka,3 BHK,1445 - 1455,3.0,0.0,65.255,3
1183,Super built-up Area,18-Aug,Magadi Road,2 BHK,884 - 1116,2.0,0.0,46.500,2
1187,Super built-up Area,18-Mar,Thanisandra,2 BHK,850 - 1093,2.0,0.0,36.435,2
1400,Super built-up Area,Ready To Move,Chamrajpet,9 BHK,716Sq. Meter,9.0,1.0,296.000,9
1484,Carpet Area,18-Mar,Hebbal,2 BHK,547.34 - 827.31,2.0,0.0,42.720,2
1542,Super built-up Area,19-Jul,Sarjapur Road,1 BHK,580 - 650,1.0,0.0,17.835,1
1614,Super built-up Area,Ready To Move,Sarjapur Road,4 BHK,3425 - 3435,6.0,0.0,228.500,4
1643,Super built-up Area,18-May,Talaghattapura,3 BHK,1804 - 2273,3.0,0.0,120.000,3
1683,Super built-up Area,Ready To Move,Old Madras Road,4 BHK,3630 - 3800,6.0,0.0,224.500,4
1694,Super built-up Area,18-Dec,JP Nagar,4 BHK,4000 - 5249,4.0,0.0,314.500,4
1712,Plot Area,Ready To Move,Singena Agrahara,3 Bedroom,1500Sq. Meter,3.0,1.0,95.000,3
1743,Super built-up Area,19-Mar,Hosa Road,3 BHK,142.61Sq. Meter,3.0,1.0,115.000,3
1821,Plot Area,Ready To Move,Sarjapur,3 Bedroom,1574Sq. Yards,3.0,1.0,76.000,3
2088,Super built-up Area,Ready To Move,Yeshwanthpur,2 BHK,1250 - 1305,2.0,0.0,95.815,2
2128,Super built-up Area,20-Dec,Kanakpura Road,1 BHK,670 - 980,1.0,0.0,36.290,1
2228,Carpet Area,Ready To Move,KR Puram,3 BHK,1005.03 - 1252.49,3.0,0.0,47.405,3
2265,Super built-up Area,Ready To Move,Old Madras Road,4 BHK,3630 - 3800,6.0,0.0,200.500,4
2301,Super built-up Area,18-Mar,Hosa Road,2 BHK,1004 - 1204,2.0,0.0,36.430,2
2396,Super built-up Area,20-Jan,Balagere,1 BHK,645 - 936,1.0,0.0,41.900,1
2431,Super built-up Area,Ready To Move,EPIP Zone,4 BHK,2710 - 3360,5.0,0.0,200.000,4
2575,Super built-up Area,18-Dec,Whitefield,4 BHK,2830 - 2882,5.0,0.0,145.500,4
2587,Super built-up Area,21-Jun,Tumkur Road,1 BHK,596 - 804,1.0,0.0,30.090,1
2713,Super built-up Area,Ready To Move,KR Puram,3 BHK,1255 - 1863,3.0,0.0,69.315,3
2716,Super built-up Area,18-Mar,JP Nagar,2 BHK,1300 - 1405,2.0,0.0,93.865,2
2881,Built-up Area,Ready To Move,Volagerekallahalli,2 BHK,117Sq. Yards,2.0,2.0,38.000,2
2916,Super built-up Area,18-Nov,Thanisandra,2 BHK,934 - 1437,2.0,0.0,58.680,2
2920,Super built-up Area,18-Jun,Mysore Road,2 BHK,980 - 1030,2.0,0.0,35.175,2
3174,Super built-up Area,22-May,Jakkur,4 BHK,2249.81 - 4112.19,4.0,0.0,260.500,4
3215,Super built-up Area,18-Sep,KR Puram,2 BHK,1070 - 1315,2.0,0.0,51.220,2
3228,Built-up Area,Ready To Move,Dodda Banaswadi,5 Bedroom,3040Sq. Meter,5.0,1.0,140.000,5
3285,Plot Area,18-May,Whitefield,4 Bedroom,500Sq. Yards,4.0,2.0,378.000,4
3356,Super built-up Area,Ready To Move,Yelahanka,4 BHK,2806 - 3019,6.0,0.0,125.500,4

In [14]:
def convert_sqft_to_num(x):
    tokens = x.split("-")
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [15]:
df4 = df3.copy()
df4["total_sqft"] = df4["total_sqft"].apply(convert_sqft_to_num)
df4.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2

In [16]:
df4.loc[30]

area_type       Super built-up  Area
availability                  19-Dec
location                   Yelahanka
size                           4 BHK
total_sqft                    2475.0
bath                             4.0
balcony                          0.0
price                          186.0
bhk                                4
Name: 30, dtype: object

In [17]:
df4.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2

In [18]:
df4["new price"] = df4["price"]*100000
df4["price_per_sqft"] = df4["new price"]/df4["total_sqft"]

In [19]:
df4.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk,new price,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3907000.0,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,12000000.0,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,6200000.0,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,9500000.0,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,5100000.0,4250.000000

In [20]:
y = df4["area_type"].value_counts()
y

Super built-up  Area    8481
Built-up  Area          2310
Plot  Area              1837
Carpet  Area              82
Name: area_type, dtype: int64

In [21]:
df4.shape

(12710, 11)

In [22]:
x = df4["location"].value_counts()
x

Whitefield            514
Sarjapur  Road        372
Electronic City       300
Kanakpura Road        261
Thanisandra           231
                     ...
Milk Colony             1
Sundara Nagar           1
Jaladarsini Layout      1
Madanayakahalli         1
Abshot Layout           1
Name: location, Length: 1265, dtype: int64

In [23]:
df4.location = df4.location.apply(lambda x : x.strip())
location_stats = df4.groupby("location")["location"].agg("count").sort_values(ascending = False)
location_stats

location
Whitefield              515
Sarjapur  Road          372
Electronic City         302
Kanakpura Road          261
Thanisandra             234
                       ...
Kanakapura  Rod           1
Kanakapura Main Road      1
Kanakapura Road           1
Kanakapura Road,          1
whitefiled                1
Name: location, Length: 1254, dtype: int64

In [24]:
location_stats_less_than_10 = location_stats[location_stats<=10]

In [25]:
len(df4.location.unique())

1254

In [26]:
df4.location = df4.location.apply(lambda x : "other" if x in location_stats_less_than_10 else x)
len(df4.location.unique())

238

In [27]:
df5 = df4[~(df4.total_sqft/df4.bhk<300)]
df5.shape

(12055, 11)

In [28]:
df5.price_per_sqft.describe()

count     12013.000000
mean       6206.082347
std        3985.518807
min         267.829813
25%        4199.363057
50%        5252.525253
75%        6823.529412
max      176470.588235
Name: price_per_sqft, dtype: float64

In [29]:
def remove_outliers(df):
    df_out = pd.DataFrame()
    for key , x in df.groupby("location"):
        m = np.mean(x.price_per_sqft)
        st = np.std(x.price_per_sqft)
        reduced_df = x[(x.price_per_sqft>(m-st)) & (x.price_per_sqft <= (m+st))]
        df_out = pd.concat([reduced_df,df_out] ,ignore_index = True)
    return df_out

df6 = remove_outliers(df5)
df6.shape
df6.area_type.unique()

array(['Super built-up  Area', 'Built-up  Area', 'Plot  Area',
       'Carpet  Area'], dtype=object)

In [30]:

dummies = pd.get_dummies(df6.location)
dummies.head
df7 = pd.concat([df6,dummies.drop("other",axis="columns")],axis="columns")


dummies2 = pd.get_dummies(df6.area_type)
df8 = pd.concat([df7,dummies2.drop("Carpet  Area",axis="columns")],axis="columns")
df9 = df8.drop(["area_type","availability","location","size"],axis="columns")
df9.head

<bound method NDFrame.head of       total_sqft  bath  balcony  price  bhk   new price  price_per_sqft  \
0         2770.0   4.0      2.0  290.0    3  29000000.0    10469.314079
1         1100.0   2.0      2.0   48.0    2   4800000.0     4363.636364
2         1250.0   3.0      2.0   56.0    3   5600000.0     4480.000000
3          600.0   1.0      0.0   38.0    1   3800000.0     6333.333333
4          869.0   2.0      1.0   36.0    2   3600000.0     4142.692750
...          ...   ...      ...    ...  ...         ...             ...
9843      1875.0   2.0      3.0  235.0    3  23500000.0    12533.333333
9844      1200.0   2.0      0.0  130.0    3  13000000.0    10833.333333
9845      1235.0   2.0      2.0  148.0    2  14800000.0    11983.805668
9846      2750.0   4.0      0.0  413.0    4  41300000.0    15018.181818
9847      2450.0   4.0      2.0  368.0    4  36800000.0    15020.408163

      1st Block Jayanagar  1st Phase JP Nagar  2nd Phase Judicial Layout  ...  \
0                       0                   0                          0  ...
1                       0                   0                          0  ...
2                       0                   0                          0  ...
3                       0                   0                          0  ...
4                       0                   0                          0  ...
...                   ...                 ...                        ...  ...
9843                    1                   0                          0  ...
9844                    1                   0                          0  ...
9845                    1                   0                          0  ...
9846                    1                   0                          0  ...
9847                    1                   0                          0  ...

      Vittasandra  Whitefield  Yelachenahalli  Yelahanka  Yelahanka New Town  \
0               0           0               0          0                   0
1               0           0               0          0                   0
2               0           0               0          0                   0
3               0           0               0          0                   0
4               0           0               0          0                   0
...           ...         ...             ...        ...                 ...
9843            0           0               0          0                   0
9844            0           0               0          0                   0
9845            0           0               0          0                   0
9846            0           0               0          0                   0
9847            0           0               0          0                   0

      Yelenahalli  Yeshwanthpur  Built-up  Area  Plot  Area  \
0               0             0               0           0
1               0             0               0           0
2               0             0               0           0
3               0             0               0           0
4               0             0               1           0
...           ...           ...             ...         ...
9843            0             0               0           0
9844            0             0               1           0
9845            0             0               0           0
9846            0             0               0           0
9847            0             0               0           0

      Super built-up  Area
0                        1
1                        1
2                        1
3                        1
4                        0
...                    ...
9843                     1
9844                     0
9845                     1
9846                     1
9847                     1

[9848 rows x 247 columns]>

In [31]:
X = df9.drop(["price","new price","price_per_sqft"],axis="columns")
Y = df9.price

In [32]:
from sklearn.model_selection import train_test_split
X_train , X_test ,Y_train , Y_test = train_test_split(X,Y, test_size=0.2, random_state=10)

In [33]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

0.8188057906569786

In [34]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
cross_val_score(LinearRegression(),X,Y, cv=cv)

array([0.79527784, 0.83426213, 0.82512288, 0.80176615, 0.81855978])

In [42]:

file_path = 'Desktop\df6.csv'

# Save the DataFrame to a CSV file
df6.to_csv(file_path, index=False)